.top {
    padding: 1rem;
    background: lightblue;
}

.top img{
    width: 20%;
}

.top .card-right {
    margin-left: 5%;
}

.top .card-right h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.top .card-right h1 span {
    color: green;
}

.top .card-right hr {
    background: green;
}
.top .card-right h6 {
    text-transform: uppercase;
    font-weight: 500;
}

/* BOTTOM LAYOUT */
/* Left */
.left .card {
    width: 60%;
    height: 50vh;
    margin-top: 2rem;
    background-color: lightblue;
}