.top {
    padding: 1rem;
    background: lightblue;
}

.top img{
    width: 20%;
}

.top .card-right {
    margin-left: 5%;
}

.top .card-right h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.top .card-right h1 span {
    color: blue;
}

.top .card-right hr {
    background: green;
}

.top .card-right h6 {
    text-transform: uppercase;
    font-weight: 500;
}

.top .card-right .address:nth-child(2){
    margin-left: 10%;
}

.top .card-right .address p {
    margin-left: .57rem;
    font-size: .89rem;
    font-weight: 500;
}


/* BOTTOM LAYOUT */
/* Left */
.left .card {
    width: 60%;
    height: 50vh;
    margin-top: 2rem;
    background-color: lightblue;
    padding: .87rem;
}

.left .left_card h6{
    font-weight: 600;
    text-transform: uppercase;
}

.left .left_card .left_card--line {
    background: blue;
    margin-top: 1px;
    height: 1.5px;
}

.left .left_card p{
    font-size: .8rem;
    font-weight: 500;
    margin-top: -2px;
}

.left .left_card .about_me{
    margin-top: 1rem;
}

.left .left_card .about_me-line{
    margin-top: 1px;
    height: 1.5px;
    background: blue;
}

/* RIGHT STYLES */
.education_wrapper {
    border-left: 2px solid rgba(0, 0, 255, 0.513);
    padding-left: .8rem;
}

.education {
    margin-top: 3rem;
    margin-left: -13%;
}

.education h3{
    font-weight: 700;
    color: blue;
    text-transform: uppercase;
}

.education .education_line{
    background: blue;
    height: 1.5px;
    margin-top: 1px;
}

.education .resume-item h5{
    color: blue;
    text-transform: uppercase;
}

.education .resume-item h6 {
    font-weight: 600;
}

.education .resume-item .school{
    font-weight: 600;
}

.education .resume-item p a{
    text-decoration: none;
}